/* just pointer */

.contextTrigger {
    cursor: pointer;
}


/* menu container */

.menuCont {
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #444;
    position: fixed;
    border-radius: 20px;
    font-size: 12px;
    font-family: monospace, 'Open Sans';
}

.menuCont span {
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #9e9e9e;
    display: flex;
    align-items: baseline;
    cursor: pointer;
}

.menuCont span i {
    color: #ef606b;
    padding-right: 3px;
}

.menuCont span:last-child {
    border-bottom: 0px solid;
}

.menuCont span:last-child:hover {
    border-radius: 0px 0px 16px 16px;
}

.menuCont span:first-child:hover {
    border-radius: 16px 16px 0px 0px;
}

.menuCont span:hover {
    background: #dcdcdc;
}